   @use "mixins";
   
  .header .header-items li .list-item:hover,
  .header .menu-btn:hover {
    text-decoration: underline;
  }

  .header {
    
    position: absolute;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.192);
    padding-right: 10px;

    a {
        @include mixins.a-links;
        padding-left: 10px;
        padding-right: 10px;
    }
    

    .header-items {
      margin: 0;
      padding: 0;
      text-align: center;
      list-style: none;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.047);
      clear: both;
      max-height: 0;
      transition: max-height 0.2s ease-out;


      

      li .list-item {
        
        text-decoration: none;
        color: white;
        display: block;
        padding: 2px 2px;
        text-decoration: none;
        
      }
    }

    
    .menu-icon {
      cursor: pointer;
      float: right;
      padding: 28px 20px;
      position: relative;

      .navicon {
        background: rgb(255, 255, 255);
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;

        &:active {
          display: block;
          background-color: rgb(0, 153, 255);
        }
      }
    }
    .menu-btn {
      display: none;
    }
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 5px;
  }

  .header .menu-icon .navicon:after {
    top: -5px;
  }

  .header .menu-btn:checked ~ .header-items {
    max-height: 240px;
  }

  

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;}


    @include mixins.tablet {
      
      
      .header{

        display: flex;
        justify-content: end;
        font-size: 0.8em;
        height: 7%;

      }

      .header li {

        float: left;
        padding: left 20px; ;
        padding-right: 20px;
        padding-top: 5px;
        font-size: 1.1em;
        
        
      }

      .header .header-items {
        clear: none;
        float: right;
        max-height: none;
        justify-content: center;
        align-items: center;
      }

      .header .menu-icon {
        display: none;
      }
  }