@use "mixins";
@use "menu";



.start {
    @include mixins.background ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100vh;
    color: white;

    

    .hidden {
        padding: 20px;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-self: center;
        align-self: center;
        text-align: center;
        
        font-size: 1.5em;
        width: 80%;
        height: 35vh;

        h2 {
            @include mixins.rubriker;
        }
        
    }

    
    
    
    .arrow {
        
         
        align-self:center;
        justify-self:end;
        height: 10vh;
    
        a {
            @include mixins.arrows;
            color: white;
    
        }
    
        
       
    }
    
}




