
body {
  background-color: darkgreen;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
/*****
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items:flex-end;

  .container {




  }
}

.menu {

  margin-top: 10px;
  margin-right: 10px;

    
  .bar__1, .bar__2, .bar__3 {
     
    position: relative;
    background-color: white;
    height: 4px;
    width: 30px;
    margin: 4px;
    border-radius: 5px;

  } 
    
}
.bar__1 {
   transform-origin: 0% 0%;
   transition: transform 0.4s ease-in-out;
 }
 
 .bar__2 {
   transition: transform 0.2s ease-in-out;
 }
 
 .bar__3 {
   transform-origin: 0% 100%;
   transition: transform 0.4s ease-in-out;
 }

 .menu-lista {
    padding-top: 120px;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
      }
    }

}


  .checkbox {

    position: absolute;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    
  }
  


.nav-container input[type="checkbox"]:checked ~ .menu-lista {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .bar__1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .bar__2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .bar__3 {
    transform: rotate(-45deg);
  }
  
  


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

******************************************/ 

/***********************************

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}


.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.checkbox {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  
}

.hamburger-lines {
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}



.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
*********************************/




  .header .header-items li .list-item:hover,
  .header .menu-btn:hover {
    text-decoration: underline;
  }

  .header {
    background-color: rgba(255, 255, 255, 0.401);
    width: 100%;

    .header-items {
      margin: 0;
      padding: 0;
      text-align: center;
      list-style: none;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.047);
      clear: both;
      max-height: 0;
      transition: max-height 0.2s ease-out;

      li .list-item {
        
        text-decoration: none;
        
        color: white;
      
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
        display: block;
        padding: 20px 20px;
        text-decoration: none;
      }
    }

    .logo {
      display: block;
      float: left;
      font-size: 2em;
      padding: 10px 20px;
      text-decoration: none;
    }

    .menu-icon {
      cursor: pointer;
      float: right;
      padding: 28px 20px;
      position: relative;

      .navicon {
        background: rgb(255, 255, 255);
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;

        &:active {
          display: block;
          background-color: rgb(0, 153, 255);
        }
      }
    }
    .menu-btn {
      display: none;
    }
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 5px;
  }

  .header .menu-icon .navicon:after {
    top: -5px;
  }

  .header .menu-btn:checked ~ .nav-items {
    max-height: 240px;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;}